{% extends "base.html" %}
{% load i18n static %}

{% block title %}特殊な記述が必要な文字＆改行の要素{% endblock %}

{% block tag %}
            <div class="next_box">
                  <a href="{% url 'program:Lesson6' %}" class="next_lesson1">Lesson6</a>
                  <a href="{% url 'program:Lesson4' %}" class="back_lesson">Lesson4</a>
            </div>
{% endblock %}
{% block content %}
                  <h1 class="title">Lsson5~特殊な記述が必要な文字＆改行の要素~</h1>
                        <img src="{% static 'cms/images/moji.jpg' %}" alt="tag_image" class="mainimage">
                        <h2 class="maintitle">文字参照</h2>
                              <p class="maintext">例えば、「&lt;」や、「&gt;」などの<span>記号</span>を文章として記述する際に、そのまま記号を入力してしまうとhtmlタグとして認識されてしまい表示できません。
                              そこで、ページに「&lt;」を表示させたい場合は、htmlに<mark>&amp;lt;</mark>というものを記述する必要があります。
                              このように、htmlの要素を含む文字列や、キーボードで直接入力できない文字を表示させる際に使う&○○;を<span>「文字参照」</span>と呼びます。</p>
                              <h3 class="maintitle">文字参照が必要なもの</h3>
                                    <ul class="list">
                                          <li>&lt;(&amp;lt;)</li>
                                          <li>&gt;(&amp;gt;)</li>
                                          <li>&amp;(&amp;amp;)</li>
                                          <li>&quot;(&amp;quot;)</li>
                                          <li>&copy;(&amp;copy;)</li>
                                          <li>&reg;(&amp;reg;)</li>
                                          <li>&trade;(&amp;trade;)</li>
                                          <li>空白(nbspを入れる)</li>
                                          <li class="listend">etc...</li> 
                                    </ul>
                        <h2 class="maintitle">改行の要素</h2>
                        <p class="maintext">htmlのテキスト上で改行してもブラウザ上では改行されない為、タグを使用する必要があります。<br>
                        ブラウザ上で改行させたい場合、<span>&lt;br&gt;</span>要素を記述すれば改行できます。<br>
                        これはline breakの略でそのまま改行という意味になります。
                        &lt;br&gt;のカテゴリは、<mark>フローコンテンツとフレージングコンテンツ</mark>であり、コンテンツモデルはありません。
                        コンテンツモデルを持たない要素を子要素を持つことができない要素で、<mark>空要素</mark>といい、終了タグが必要ありません。</p>
{% endblock %}