<!DOCTYPE html>
<html lang='ja'>
<head>
<meta charaset='UTF-8'>
<title>
  bodyの要素について
</title>
</head>
<body>
<h1>
 bodyにおける要素
</h1>
　<h2>
 　段落を表す要素
　</h2>
　　<p>
 　　p要素はparagraphの略で、要素内が<strong>段落</strong>であることを示す
　　</p>
　　<p>
 　　カテゴリは<strong>フローコンテンツ</strong>で、コンテンツモデルが<strong>フレージングコンテンツ</strong>である
　　</p>
　<h2>
 　見出しを表す要素
　</h2>
　　<p>
 　　　h1～6要素はheadingの略で<strong>見出し</strong>であることを表す
　　</p>
　　<p>
　　　カテゴリは<strong>フローコンテンツ、ヘディングコンテンツ</strong>の二つに属し、コンテンツモデルは<strong>フレージングコンテンツ<strong>となる
　　</p>
　<p>
 　<strong>※このｈ要素は、階層構造となっているため、途中で強調したいものをh1にするなどという使い方はしない</strong>
　</p>
　<p>
 　文字のデザインはCSSにて変更するので、「見出し」という要素を「強調」とはき違えないように注意する
　</p>



</body>
</html>

