{% load i18n static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
        <title>エモ吉のプログラミング基礎講座</title>
        <link rel="stylesheet" href="{% static 'cms/login.css'%}" type=text/css>
    </head>
    <body>
        <h1 class="title">
            エモ吉のプログラミング基礎講座
        </h1>
        <div class="back-base">
            <a href="{% url 'program:index' %}" class="back"><span>＜</span></a>
        </div>
        <form method="post" action="{% url 'program:create_account' %}">
            <div class="create-user">
                {% csrf_token %}
                <dl class="create-box">
                    <label><dt class="create-name">ユーザーID</dt>
                        <dd class="create-text">{{ form.username }}
                        <span class="error-text">{{ form.username.errors }}</span></dd>
                    </label>
                    <label><dt class="create-name">パスワード</dt>
                        <dd class="create-text">{{ form.password1 }}
                        <span class="error-text">{{ form.password1.errors }}</span></dd>
                    </label>
                    
                    <label><dt class="create-name">パスワード（確認）</dt>
                        <dd class="create-text" id="pass2">{{ form.password2 }}
                        <span class="error-text">{{ form.password2.errors }}</span></dd>
                    </label>
                </dl>
            </div>
            <button type="submit" class="button-register"><span>Create<br>Account</span></button>
            
        </form>
    </body>
</html>