{% extends "base.html" %}
{% load i18n static %}

{% block title %}スクレイピングの部屋{% endblock %}

{% block tag %}
<div class="next_box">
    <a href="{% url 'program:main_menu' %}" class="next_lesson">トップページへ</a>
</div>
{% endblock %}

{% block content %}
<h1 class="maintitle">Google-SCRAPING</h1>
    <p class="maintext">このページでは、Pythonの「selenium」というライブラリを使った<br>
    WEBスクレイピングを試すことができます。<br>
    このseleniumとは、<span>ブラウザの操作を自動化するもの</span>です。
    以下の検索ボックスに好きな単語を入れて「GET」ボタンを押すと、自動で「https://duckduckgo.com」にてその単語を入力、検索し、
    その検索結果の上位5個のページのタイトル、URLを取得して表示します。</p>
    <strong>※ヘッドレスクロームでの検索のため、検索結果が通常と変わっております。</strong>
    <p class="search">Enter kinds of word</p>
    <form action="" method="POST">
    <p>KEY-WORD:{% csrf_token %}
    <input type="text" name="text"></p>
    <input type="submit" value="GET" class="get_btn">
    </form>
{% endblock %}