<!doctype html>
<html lang="ja">
<head>
   <meta charaset="UTF-8">
   <meta name='viewport' content="width=device-width">
   <title>ハイパーリンクについて</title>
</head>
<body>
<em>HTMLには他のHTMLに飛ぶことができる「ハイパーリンク」という要素がある</em>
<h1>ハイパーリンクを表す要素</h1>
<h2>&lt;a&gt;</h2>
<p>
&lt;a&gt;はanchor(アンカー)の略で、ハイパーリンクを表す要素<br>
カテゴリはフローコンテンツ、フレージングコンテンツ、インタラクティブコンテンツ<br>
コンテンツモデルはトランスペアレント（透明）になる<br>
トランスペアレントは<strong>親の要素のコンテンツモデルを引き継ぐ</strong>という特性を持っている<br>
<a href="要素の配置ルール.html">カテゴリなどについて</a>
</p>
<p>
例えばある文章の途中などにリンクをつなげたい場合、<br>
&lt;p&gt;<br>
私がHTMLについて勉強した中で最もおもしろかったのは<br>
&lt;a href=&quot;用語型説明リスト.html&quot;&gt;用語型説明リスト&lt;/a&gt;<br>
でした<br>
&lt;p&gt;<br>
となる。
</p>
<p>
ハイパーリンクにしたい範囲の文字に&lt;a&gt;タグをつけて、<strong>「href」</strong>という属性をつけてリンク先（pass）を指定する<br>
※hrefはハイパーテキストリファレンス略<br>
属性値は、リンクさせたいhtmlファイルが同じディレクトリにあれば、ファイル名のみの記述でよい<br>
別のディレクトリにある場合は、そのファイルのフルパスを指定する<br>
ハイパーリンクとしたテキストは、<strong>「アンカーテキスト」</strong>と呼ばれる<br>
すでに存在するWEBサイトにリンクさせたい場合は、属性値にサイトのURLを記述すればよい
</p>

<h3>リンク先を別ウィンドウで表示</h3>
<p>
例えば、リンク先を別のウィンドウで表示させたい場合、&lt;a&gt;に属性と属性値target="_brank"を記述する
</p>

<h3>ページ内リンク</h3>
<p>
例えばブログなどの同じページの中で、ほかの文章の所に飛びたい時などに、ページ内リンクが使われる<br>
やり方は、まずhrefでどこに飛ぶのかはっきりさせるため、飛びたい文章に固有の名前を付ける必要がある<br>
</p>
<p>
例<br>
&lt;h1 id="tobimasu"&gt;<br>
この固有の名前を付けるための属性が「id」<br>
名前を付けたら、&lt;a&gt;の中で指定する<br>
&lt;a href=#tobimasu&gt;<br>
id属性は、#に置き換わる<br>
</p>



</body>
</html>