<!doctype html>
<html lang="ja">
<head>
   <meta charaset="UTF-8">
   <meta name='viewport' content="width=device-width">
   <title>画像表示について</title>
</head>
<body>
<h1>&lt;img&gt;要素</h1>
<p>
&lt;img&gt;要素は、画像を表示させる要素<br>
この要素に、src（ソース）属性で属性値として表示したい画像のパスを指定する<br>
また、alt（オルト）属性を使ってパスが間違っていたりした場合に表示される代替えテキストとなる属性値を指定する<br>
これは目の不自由な人に音声読み上げソフトが画像の部分を読み上げてくれるという利点もある<br>
</p>
<h2>&lt;ing&gt;要素の例</h2>
<p>
↓ソースコード<br>
&lt;p&gt;<br>
&nbsp;&nbsp;&nbsp;&lt;a href="C:\Users\kj1genryo1\Desktop\HTM画像表示用\よくある質問.html"&gt;<br>
&nbsp;&nbsp;&nbsp;&lt;img src="C:\Users\kj1genryo1\Desktop\HTML画像表示用\よくある質問.png" alt="よくある質問ページへ"<br>
&nbsp;&nbsp;&nbsp;width="140" height="140"&gt;<br>
&nbsp;&nbsp;&nbsp;&lt;/a&gt;<br>
&lt;/p&gt;<br>
</p>
<p>
   <a href="C:\Users\kj1genryo1\Desktop\HTML\画像表示用\よくある質問.html">
   <img src="C:\Users\kj1genryo1\Desktop\HTML\画像表示用\よくある質問.png" alt="よくある質問ページへ"
   width="140" height="140">
   </a>
</p>
<p>
という風になる<br>
このようなリンクを指定する画像を「バナー」と呼ぶ<br>
上記にはwidth属性とheight属性が追加されているが、<br>
width属性は、画像の横幅をピクセル単位で指定するもので、属性値に指定したい数値のみをいれる<br>
height属性はその縦幅のもの<br>
</p>



</body>
</html>