<!DOCTYPE html>
<html lang='ja'>
<head>
 <meta charaset='UTF-8'>
  <title>要素の配置ルールとカテゴリーについて</title>
</head>
<body>
<h1>HTMLの各要素にはそれぞれの中に挟める要素が決まっている</h1>
<p>
   その中に配置できる要素を<em>コンテンツ・モデル</em>という
   例　　＜p＞ ＜？＞　この？がコンテンツモデルです　＜/？＞　＜/p＞
   例えば、＜p＞のエレメントが持つ意味、役割は「段落を示す」でコンテンツ・モデルは「フレージング・コンテンツ」であり、＜p＞自体のカテゴリは「フローコンテンツ」である
<p>
<div>
 <p>
    コンテンツモデルには、直接要素名が指定されることもあるが、ほとんどの場合、各要素に与えられた<em>全７種類のカテゴリ</em>で指定される
    カテゴリは<strong>「Metadata(メタデータ) Content」　「Flow(フロー) Content」「Sectioning(セクショニング) Content」「Heading(ヘディング) Content」
   「Phrasing(フレージング) Content」「Embedded(エンベッディッド) Content」「Interactive(インタラクティブ) Content」</strong>
 </p>
</div>
<p>head要素は<strong>メタデータコンテンツ</strong>に分類される</p>
</body>

</html>