{% load i18n static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">

        <title>エモ吉のプログラミング基礎講座</title>
        <link rel="stylesheet" href="{% static 'cms/login.css'%}" type=text/css>
        <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    </head>
  <body>
    <h1 class="title">
     エモ吉のプログラミング基礎講座
    </h1>
    {% if user.id  %}
    <div class="login_user">
      <p>ようこそ! {{ user.username }}さん</p>
    </div>
    <a href="{% url 'logout' %}" class="logout_btn">Sign&nbsp;Out</a>
    <a href="{% url 'program:main_menu' %}" class="main_btn">Start&nbsp;Lesson</a>
    <a href="{% url 'password_change' %}" class="reset_btn">Reset&nbsp;Password</a>
    {% else %}
      <a href="{% url 'login' %}" class="login">Sign&nbsp;in</a>
      <a href="{% url 'create' %}" class="create">Create&nbsp;Account</a>
      <a href="{% url 'program:main_menu' %}" class="guest">Guest&nbsp;User</a>
    {% endif %}
  </body>
</html>