{% load i18n static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>エモ吉のプログラミング基礎講座</title>
        <link rel="stylesheet" href="{% static 'cms/login.css'%}" type=text/css>
        <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="title">
            エモ吉のプログラミング基礎講座
        </h1>
        <div class="back-base">
            <a href="{% url 'index' %}" class="back"><span>＜</span></a>
        </div>
        <div class="reset">
            <h2 class="reset_title">パスワードの変更が完了しました。</h2>
        </div>
    </body>
</html>